.navbar-galaxy {
  background-image: url(https://s3.amazonaws.com/media-p.slid.es/uploads/ternopiljs/images/1138924/stars-bg.jpg);
  background-size: cover;
  padding-top: 0;
}

.navbar-galaxy .navbar-nav>li>a, .navbar-galaxy a.navbar-brand {
  color: #FFF;
  font-weight: 200;
  font-size: 18px;
  letter-spacing: 1px;
}

.navbar-galaxy .navbar-collapse {
  padding-top: 0 !important;
}

.navbar-galaxy .nav > li > a:hover, .navbar-galaxy .nav > li > a:focus, .navbar-galaxy a.navbar-brand:hover, .navbar-galaxy a.navbar-brand:focus {
  color: #FFF;
  background-color: rgba(255,255,255,0.2);
}

.navbar-galaxy .navbar-nav>.active>a, .navbar-galaxy .navbar-nav>.active>a:hover, .navbar-galaxy .navbar-nav>.active>a:focus {
  color: #FFF;
  background-color: rgba(255,255,255,0.2);
}

.navbar-default .navbar-toggle {
  background: #24375E;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #0F1E3B;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}